nav {
  position: sticky;
  top: 0;
  display: flex;

  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: var(--secondary-color);
  z-index: 100;
  padding: 1rem 0;
  .logo-img {
    width: 9rem;
    height: 9rem;

    margin-top: 1rem;
    a {
      text-decoration: none;
    }
    h4 {
      color: var(--light-grey);
    }
  }
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    width: 45%;
    .book-btn {
      background-color: var(--primary-color);
      padding: 1rem 1.5rem;
      border-radius: 100px;
      transition: all 0.2s ease;

      &:hover {
        color: var(--secondary-color);
        background-color: var(--white-color);
      }
    }

    a {
      display: inline-block;
      color: var(--light-grey);
      letter-spacing: 3px;
      font-weight: bold;
      font-size: 1.4rem;
      text-decoration: none;
      transition: color 0.2s ease;
      margin-top: 1rem;

      &:hover {
        color: var(--primary-color);
      }
    }
  }

  .burger {
    display: none;
    div {
      width: 2.5rem;
      height: 3px;
      background-color: var(--light-grey);
      margin: 5px;
    }
  }
}
@include respond(tab-land) {
  nav {
    .nav-links {
      width: 50%;
    }
  }
}
@include respond(tab-port) {
  nav {
    .nav-links {
      position: absolute;
      right: 0px;
      height: 92vh;
      top: 10vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      justify-content: space-around;
      background-color: var(--secondary-color);
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
      z-index: 8;
      li {
        opacity: 0;
      }
    }
    .burger {
      display: block;
      cursor: pointer;
    }
    .nav-active {
      transform: translateX(0);
    }
    .toggle .line1 {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
    .toggle .line2 {
      opacity: 0;
    }
    .toggle .line3 {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  }
}
